
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div style="width:90%; margin: 0 auto;" class="tableContainer">
        <a class="popup btn btn-primary" href="/home/save/0" style="margin-bottom:20px; margin-top:20px;">Add New</a>
        <table id="myDataTable">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Id</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var oTable = $('#myDataTable').DataTable({
                "ajax": {
                    "url": "/home/GetEmployees",
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "FirstName", "autoWidth": true },
                    { "data": "LastName", "autoWidth": true },
                    { "data": "EmailId", "autoWidth": true },
                    { "data": "City", "autoWidth": true },
                    { "data": "Country", "autoWidth": true },
                    {
                        "data": "EmployeeId", "width": "50px", "render": function (data) {
                            return '<a class"popup" href="/home/save/' + data + '">Edit</a>'
                        }
                    },
                    {
                        "data": "EmployeeId", "width": "50px", "render": function (data) {
                            return '<a class"popup" href="/home/delete/' + data + '">Delete</a>'
                        }
                    }
                ]
            });
        $('.tableContainer').on('click', 'a.popup', function (e) {
            e.preventDefault();
            OpenPopup($(this).attr('href'));
        })
        function OpenPopup(pageUrl) {
            var $pagecontent = $('<div/>');
            $pagecontent.load(pageUrl, function () {
                $('#popupForm', $pagecontent).removeData('validator');
                $('#popupForm', $pagecontent).removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');
            });

            $dialog = $('<div class="popupWindow" style="overflow: auto"></div>').html($pagecontent).dialog({
                draggable: false,
                autoOpen: false,
                resizable: false,
                modal: true,
                title: 'Popup Dialog',
                width: 600,
                height: 550,
                close: function () {
                    $dialog.dialog('destroy').remove();
                }
            })

            $('.popupWindow').on('submit', '#popupForm', function (e) {
                var url = $('#popupForm')[0].action;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#popupForm').serialize(),
                    success: function (data) {
                        if (data.status) {
                            $dialog.dialog('close');
                            oTable.ajax.reload();
                        }
                    }
                })
                e.preventDefault();
            })
            $dialog.dialog('open');
        }
     });
    </script>
</body>
</html>
